<ul class="list-group">
                  <li class="list-group-item">
                    <strong>Precio</strong>
                    <span class="badge">{{producto.stats.precio}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Stock</strong>
                    <span class="badge">{{producto.stats.stock}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Año</strong>
                    <span class="badge">{{producto.stats.annio}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Special </strong>
                    <span class="badge">{{producto.stats['sp.atk']}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Special </strong>
                    <span class="badge">{{producto.stats['sp.def']}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Garantía</strong>
                    <span class="badge">{{producto.stats.garantia}}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Descuento</strong>
                    <span class="badge">{{producto.stats.descuento}}</span>
                  </li>
</ul>